<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iovana's Project</title>
    <link rel="stylesheet" type="text/css" href="semantic/out/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="loginstyle.css">
</head>

<body>
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <!-- headers -->
        <div class="ui large header inverted" id="mainheader">
            WELCOME TO THE COURSE FEEDBACK LOGIN PAGE
            <div class="sub header">Improve your student experience!</div>
        </div>

        <!-- login form-->
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <label class="fluid center aligned">Username</label>
                    <input type="text" name="username" placeholder="Username">
                </div>

                <div class="field">
                    <label class="fluid center aligned">Password</label>
                    <input type="text" name="password" placeholder="Password">
                </div>

                <button class="ui button aligned right fluid" type="submit">LOGIN </button>
            </div>

        </form>
    </div>
</div>
</body>
</html>